@{
    ViewData["Title"] = "Greenwich University";
}

<h1 class="text-center alert alert-danger">Welcome to Hanoi - Vietnam</h1>
<a class="btn btn-outline-danger" href="https://vnexpress.net/">VNExpress</a><br />
<img src="~/images/hanoi.jpg" />
<img src="https://i.natgeofe.com/n/39181071-db55-488f-bd54-707759ad924e/river-hanoi-vietnam.jpg" width="300" height="300" />