<div class="container text-center">
    <a class="btn btn-info" onclick="return alert('Welcome to my website. Have a nice day !');">Click me !</a>
    <h1 id="university">Welcome to Greenwich University</h1>
    <h1 id="address">Address: 2 Pham Van Bach - Cau Giay - Ha Noi</h1>
    <img class="mb-3" src="~/images/greenwich.jpg" width="50%" height="50%"/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ewbUbr3dXP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


