@model List<Student>

<div class="container col-md-8 text-center mt-3">
    <h1 class="alert alert-success">Student List</h1>
    <table class="table table-bordered">
        <thead>
             <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Student Age</th>
                <th>Student Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
           {
             <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Age</td>
                <td>@s.Email</td>
            </tr>
           }   
        </tbody>
    </table>
</div>