body {
    background-color:moccasin;
}

a {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}

h1#university {
    color: red;
}

h1#address {
    color: blue;
}

img {
    border-radius: 50%;
}